%h1 写真アップロード

= bootstrap_form_with model: [:my, @photo], local: true do |f|
  = f.text_field :title, label: 'タイトル', autofocus: true, maxlength: 30
  = f.file_field :image, label: '写真', required: true
  = f.submit '投稿する'

= link_to 'キャンセル', root_path, class: 'mt-4'
