%h1 写真アップロード

= form_with model: [:my, @photo] do |f|
  = render 'shared/form_error', object: @photo
  .field
    = f.label :title, 'タイトル'
    = f.text_field :title, required: true, autofocus: true, maxlength: 30
  .field
    = f.label :image, '写真'
    = f.file_field :image, required: true
  .field
    = f.submit '投稿する'

= link_to 'キャンセル', root_path
