!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Photo And Tweet"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
  %body
    .container
      = tag.div(flash[:alert], style: "color:red") if flash[:alert]
      = tag.div(flash[:notice], style: "color:green") if flash[:notice]
      .text-end
        - if authenticated?
          = button_to 'ログアウト', session_path, method: :delete, class: 'btn btn-outline-dark'
        - else
          = link_to 'ログイン', new_session_path, class: 'btn btn-outline-dark'
      = yield
